* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/151/430/large_2x/global-currency-exchange-icon-transfer-money-stock-market-abstract-background-vector.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cont {
  background-color: #e2d0be;
  padding: 2rem;
  border-radius: 4rem;
  min-height: 45vh;
  min-width: 40vh;
  margin-left: 20vh;
}
form {
  margin: 2rem 0 2rem 0;
}
form input,
select,
button {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.8rem;
}
form input {
  border: 1px solid black;
  font-size: 1rem;
  height: 2rem;
  padding-left: 0.4rem;
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.select-cont img {
  max-width: 3rem;
}
.select-cont {
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.3rem;
  border: 1px solid rgb(14, 14, 14);
  border-radius: 1rem;
  background-color: white;
}
.msg {
  margin: 2rem 0 2rem 0;
  text-align: center;
}
form button {
  font-size: 1.2rem;
  height: 3rem;
  background-color: #52ca44;
  cursor: pointer;
  border: 1px solid black;
}
